{% extends 'base.html' %}
{% load static %}
{% block css %}

    
body{
    background:url('{% static 'img/1.jpg' %}') fixed center;
    background-image: url('{% static 'img/1.jpg' %}');
    width:100%;
    background-size:100%;
    background-attachment: fixed;
    background-position: center;
}
@media (max-width:990px){
    body{
    background:url('{% static 'img/1.jpg' %}') fixed center;
    background-image: url('{% static 'img/1.jpg' %}');
    width:100%;
    background-attachment: fixed;
    background-position: center;
    }
} 

        .navabar{
          overflow: hidden;
          position: fixed; /* Set the navbar to fixed position */
          top: 0; /* Position the navbar at the top of the page */
          width: 100%; /* Full width */
          
        }
        
        .navbar li a:hover{
            color: orange;

        }
        .navbar li a:ctive{
            color: orange;

        }
        
        .navbar-brand{
          padding: 3px 3px;
            text-decoration: none;
            color: white;
            margin: 3px 3px;
        }
        .navbar-brand a{
          color: orange;
        }

        
        
    
{% endblock css %}

{% block body %}
<div class="container">
<h1 class="display-4 font-italic text-white">Reset Password</h1>
<br>

<p class="text-white">Forgotten Your password? Enter Your mail address below, and we'll send an email instructions for setting a new one</p>
<br>
<form method="POST" class="text-white">
    {% csrf_token %}
    {{form}}
    <br>
    <br>
    <button type="Submit" name="Send email" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}